EasyRoot.podspec linguist-generated=true
Podfile linguist-generated=true
Gemfile linguist-generated=true
Gemfile.lock linguist-generated=true
Pods linguist-vendored=true
fastlane/Fastfile linguist-generated=true
